extends layout

block content
    - if(images.length)
    ul
        - images.forEach(function(image){
            li
                img(src='/images/'+image.name)
                p= image.size
        - })